 .ProductForm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ProductForm h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.ProductForm form {
  display: flex;
  flex-direction: column;
}

.ProductForm label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #555;
}

.ProductForm input,
.ProductForm textarea,
.ProductForm select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.ProductForm select {
  height: 10px;
}

.ProductForm button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.ProductForm button:hover {
  background-color: #4c89ca;
}

/* Custom styling for multi-select dropdown */
.ProductForm select[multiple] {
  height: auto;
} 

.ProductForm select[multiple] option {
  border-bottom: 1px solid #acc3dd;
  cursor: pointer;
}

.ProductForm select[multiple] option:hover {
  background-color: #cfdcf5;
}

.ProductForm select[multiple] option.selected {
  background-color: #007bff;
  color: white;
}

/* Custom styling for file input */
.ProductForm input[type="file"] {
  border: none;
  padding: 5px 10px;
}

/* Custom styling for text input */
.ProductForm input[type="text"] {
  background-color: #fff;

}

/* Additional styling for existing product images */
.ProductForm .existing-product-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ProductForm .existing-image {
  width: calc(32% - 5px); /* Three images per row with a little gap */
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.ProductForm .existing-image img {
  width: 50%;
  height: 250px; /* Set a fixed height for consistent display */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 4px;
}

.ProductForm .close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px; /* Reduce the font size */
  cursor: pointer;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  padding: 4px;
}