.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .image-gallery {
    margin-left: 20%;
    margin-top: 2%;
    width: 100%; /* Change to 100% to make images responsive */
    max-width: 600px; /* Adjust max-width based on your layout */
    position: relative;
  }

  .image-container {
    width: 350px; /* Set the fixed width for your images */
    height: 350px; /* Set the fixed height for your images */
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-gallery .navigation {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 350px; /* Make the navigation bar the full width of the image */
  }
  
  .image-gallery .navigation button {
    background-color: rgb(66, 66, 179);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover{
      background-color: rgb(71, 71, 245)
    }
    &:disabled{
      background-color: rgb(159, 159, 207);
    }
  }

  .product-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .product-price {
    font-size: 18px;
    float: right;
    margin-top: 10px;
  }
  
  .product-description {
    margin-top: 20px;
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    .image-gallery {
      width: 100%;
      margin-left: 0;
    }
  }
  