.navbar {
    background-color: rgb(77, 92, 122);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navbar-links li {
    font-size: 18px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-links button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  